{% extends "base.html" %}
{% block content %}
    <div class="container my-3">
        <h1>Prijavite se</h1>
        <form method="POST" action='/doLogin'>
            <div class="mb-3">
                <label for="email" class="form-label">Email adresa</label>
                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Lozinka</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <button type="submit" class="btn btn-primary" id="loginBtn">Login</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>

{% endblock %}